<div>
	<table  cellspacing="0" class="full-width">
		<tr>
			<td class="short">
			<app-classificationcomponent
			       [classificationname]="usertitleclass"
					[(selected)]="name['foaf:title']"
					[classtitle]="classtitle">
			</app-classificationcomponent>
			</td>
			<td>
				<mat-form-field  appearance="fill"  class="full-width">
					<mat-label>First name</mat-label>
					<input matInput [(ngModel)]="name['foaf:givenName']">
				</mat-form-field>
			</td>
			<td>
				<mat-form-field class="full-width" appearance="fill">
					<mat-label>Last Name</mat-label>
					<input matInput [(ngModel)]="name['foaf:familyName']">
				</mat-form-field>
			</td>
		</tr>
	</table>
</div>
